 h1 {
    color: #fc894d;
    font-style: italic;
  }
  li {
    color: red;
    padding-top: 23px;
    font-size: 15px;
  }
  .note {
    color: grey;
    padding-top: 15px;
    font-size: 15px;
  }
  .error {
    color: red;
    background: blue;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
 html{
    background-color: cyan;
 } 